* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #000; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
